button {
  cursor: pointer;
}

.cart-container {
  display: flex;
  justify-content: center;
  min-height: 75vh;
}

@media screen and (min-width: 768px) {
  .cart-container {
    min-height: 90vh;
  }
}

.cart-content-container {
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 1110px;
}

@media screen and (min-width: 768px) {
  .cart-content-container {
    width: 80%;
    max-width: 1110px;
  }
}

.cart-heading {
  color: #3e4c59;
  font-family: 'Roboto';
  font-size: 24px;
  font-weight: 700;
}

@media screen and (min-width: 768px) {
  .cart-heading {
    font-size: 48px;
  }
}

.cart-route-total-price-heading {
  font-size: 15px;
  color: #616e7c;
}
.cart-route-total-price {
  color: black;
  font-size: 23px;
}
.cart-route-total-price-paragraph {
  color: #616e7c;
  font-weight: 500;
}
.cart-route-total-price-button {
  background: #0b69ff;
  height: 35px;
  width: 150px;
  border: none;
  color: white;
  font-weight: bold;
  border-radius: 5px;
}
.main-container-for-cart-total {
  align-self: flex-end;
}
.cart-route-remove-all-heading {
  color: #0b69ff;
  font-size: 20px;
  align-self: flex-end;
  background: none;
  font-weight: bold;
  border: none;
}
